$palette--cyan: #4EC5D0;
$palette--light-cyan: #9DDFE5;
$palette--dark-cyan: #4BB0CF;
$palette--dark-cyan--500: rgba(75, 176, 207, 0.5);
$palette--deep-cyan: #1788A8;
$palette--grey: #D2D9E2;
$palette--black: #494949;
$palette--full-black: #000000;
$palette--light-grey: #EAEDF2;
$palette--dark-grey: #B6C1CE;
$palette--turqoise: #4ACDBA;
$palette--white: #FFFFFF;
$palette--white--500: rgba(255, 255, 255, 0.5);
$palette--black--125: rgba(0, 0, 0, 0.125);
