<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildBundlerMinifier" version="3.2.449" targetFramework="net48" />
  <package id="BuildWebCompiler" version="1.12.405" targetFramework="net48" />
  <package id="Cortex.Core.Utilities" version="2.0.10" targetFramework="net461" />
  <package id="IdentityModel" version="5.1.0" targetFramework="net461" />
  <package id="LeadingEdge.Core.Claims" version="5.0.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Json" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.3.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.OpenIdConnect" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.LibraryManager.Build" version="2.1.113" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="StructureMap" version="4.7.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.3.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net461" />
  <package id="System.Text.Json" version="5.0.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>